################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MyEngine/v15
/MyEngine/bin
/MyEngine/obj
/packages
