################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MyEngine/v15
/MyEngine/bin
/MyEngine/obj
/MyEngine/Program.cs
/packages
/.vs/MyEngine/v16/Server/sqlite3
